*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width:100%;
    height: 100%;
    background-color: palevioletred;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.shape{
    margin-top: 10px ; 
    margin-left: 10px;
    width:200px;
    height: 200px;
    background-color: rgb(184, 133, 232);
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}
#square:hover{
background-color: rgb(216, 130, 18);
}
#circle{
    background-color: rgb(93, 127, 229);
    border-radius: 50%;
}
#circle:hover{
    background-color: rgb(181, 202, 21);
}
#diamond{
    background-color:powderblue ;
    rotate: 45deg;
    margin-top: 50px;
}
#diamond:hover{
    background-color: bisque;
}
#diamond h1{
    rotate: -45deg;
}