*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: azure;
    text-align: center;
    justify-content: space-around;

}
#logo{
    height: 70%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
.texts{
    color: rgb(3, 3, 84);
    display: flex;
}
.texts:hover{
    color: lightskyblue;
}
#Contact Details{
    font-weight: lighter;
}
#Contact:hover{
    color: rgb(97, 151, 217);
}
.icon{
    padding: 10px;
    border-radius: 50%;
}
.icon:hover{
 color: rgb(109, 181, 233);
}
#login{
    padding: 10px;
    border-radius: 50%;
    display: flex;
}
#login:hover{
     color: rgb(102, 139, 214);
}
#try{
    background-color: green;
   padding: 10px 20px;
   color: white;
}
#try:hover{
   background-color: black;
}
#fake header{
    height: 13%;
    width: 100%;
}
#page1{;
   height: 87%;
   width: 100%;
    background-color:wheat;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(5, 18, 78);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#strip u{
    font-weight: normal;
}
#content{
    width: 100%;
    height: 76%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#box1{
    height: 90%;
    width: 47%;
    background-color: whitesmoke;
    margin: 10px;
}
#box2{
    height: 90%;
    width: 47%;
    background-color: whitesmoke;
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#heading{
    height: 16%;
    width: 100%;
    background-color: palevioletred;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
#heading h1{
    font-weight: 600;
}
#box1 h1{
     font-weight: 600;
     color: black;
     font-size: 45px;
     margin: 10px;
}
#box1 p{
 font-size: large;
 margin: 10px;
 font-weight: lighter;
}
#btns{
    justify-content: center;
    text-align: center;
    display: flex;
}
#btn1{
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    background-color: rgb(150, 215, 253);
    color: white;
}
#btn1:hover{
 background-color: rgb(62, 112, 228);
}
#btn2{
     margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color:lightblue ;
    border: 1px solid lightblue;
}
#btn2:hover{
    background-color:lightblue ;
    color: black;
    border-color: black;
}
#page2{
    height: 87%;
    width: 100%;
    background-color: rgb(233, 188, 243);
}