      *{
       margin: 0%;
       padding: 0%;
      }
      html,body{
            width: 100%;
            height: 100%;
      }
  body{
    background-color:rgb(242, 215, 142);
        
;}
            div{ 
                  align-items: center;
                  display: flex;
     
            }
#Tannu2{ 
      background-color: aquamarine;
  width: 20%;
      height: 20%;
      border-style: groove;
      border-width: 5px;
border-radius: 50%;
}
#Tannu1{ 
      background-color: rgb(150, 127, 255);
       width: 30%;
      height: 30%;
   
}