*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

.ColorFont{
    color: rgb(0, 21, 255);
    text-align: center;
    font-weight: bold;
}

h2{
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}